<%= form_with(model: @expense, method: :post, local: true) do |form| %>
    <div class="form-group">
        <%=form.label :Cantidad, :class => "control-label"%>
        
            <%=form.number_field :quantity, step: :any, :class => "form-control" %>

            <%= form.hidden_field :item_id, :value => @item.id %>
            <%= form.hidden_field :material_id, :value => @currentMaterial.id %>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
        <input type="submit" name="" value="Crear" class="btn btn-primary">
    </div>
<% end %>