<%= form_with(model: @item, method: :post, local: true) do |form| %>
    <div class="form-group">
        <%=form.label :Nombre, :class => "control-label"%>
        
            <%=form.text_field :name, :class => "form-control"%>
    </div>

    <%= form.hidden_field :index, :value => indexMainCalculator(params[:id]) %>
    <%= form.hidden_field :project_id, :value => params[:id] %>
    <%= form.hidden_field :isMain, :value => true %>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
        <input type="submit" name="" value="Crear" class="btn btn-primary">
    </div>
<% end %>