<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inecons Presupuestos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', async: Rails.env.production?, :cache => 'cached/all' %>
    <meta name="viewport" content="with=device-width, initial-scale=1">
  </head>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= home_path %>> Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=<%= projectIndex_path %>>Presupuestos</a></li>
        <li><a href=<%= materialIndex_path %>>Materiales</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <a class="Brand" href="http://www.inecons.cl/">
        <img alt="Brand" src="http://www.inecons.cl/wp-content/uploads/2018/04/logo_inecons.png" style="width: auto; height: auto; max-height: 50px; max-width: 250px;overflow: visible;padding-top: 0;padding-bottom: 0; ">
      </a>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div style="margin:10px;padding:0">
  <% flash.each do |type, msg| %>
    <%if type == "error"%>
      <div class = "alert alert-danger errors">
        <%= msg %>
      </div>
    <%elsif type == "success"%>
      <div class = "alert alert-success">
        <%= msg %>
      </div>
    <% end %>


    
  <% end %>
    <%= yield %>
  </body>
  </div>
</html>
